[%# This file is template/en/default/global/useful-links.html.tmpl in upstream  %]

  [%# Saved searches %]
    
  [% IF user.showmybugslink OR user.queries.size 
        OR user.queries_subscribed.size 
  %]
    <li id="links-saved">
      <ul class="links">
        [% IF user.showmybugslink %]
          [% filtered_username = user.login FILTER uri %]
          <li><a href="[% Param('mybugstemplate').replace('%userid%', filtered_username) %]">My [% terms.Bugs %]</a></li>
          [% print_pipe = 1 %]
        [% END %]

        [% FOREACH q = user.queries %]
          [% IF q.link_in_footer %]
            <li>
            <a href="buglist.cgi?cmdtype=runnamed&amp;namedcmd=[% q.name FILTER uri %]">[% q.name FILTER html %]</a>
            </li>
          [% END %]
        [% END %]
        [% FOREACH q = user.queries_subscribed %]
          [% IF new_line %]
            <br>
            [% new_line = 0 %]
          [% END %]
          <li>
            <a href="buglist.cgi?cmdtype=dorem&amp;remaction=run&amp;namedcmd=
                     [% q.name FILTER uri %]&amp;sharer_id=
                     [% q.user.id FILTER uri %]"
               class="shared"
               title="Shared by [% q.user.identity FILTER html %]"
               >[% q.name FILTER html FILTER %]</a>
          </li>
        [% END %]
      </ul>
    </li>
  [% END %]

  [% IF user.reports.size %]
    <li id="reports-saved">
      <ul class="links">
        [% FOREACH r = user.reports %]
          <li>
          <a href="report.cgi?[% r.query FILTER html %]&amp;saved_report_id=
                  [%~ r.id FILTER uri %]">[% r.name FILTER html %]</a></li>
        [% END %]
      </ul>
    </li>
  [% END %]

