[%# 1.0@bugzilla.org %]
[%# -*- mode: html -*- %]
[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Terry Weissman <terry@mozilla.org>
  #                 Jacob Steenhagen <jake@bugzilla.org>
  #                 Vitaly Harisov  <vitaly@rathedg.com>
  #%]

[%# INTERFACE:
  # release: a hash containing data about new releases, if any.
  #%]

[% PROCESS global/header.html.tmpl
   title = "Wikimedia $terms.Bugzilla Main Page"
   header = "Main Page" 
   style_urls = [ 'skins/contrib/Wikimedia/index.css' ]
%]


<script type="text/javascript">
<!--
function onLoadActions() {
  quicksearchHelpText('quicksearch_main', 'show');
  if( window.external.AddSearchProvider ){
    YAHOO.util.Dom.removeClass('quicksearch_plugin', 'bz_default_hidden');
  }
  document.getElementById('quicksearch_top').focus();
}
var quicksearch_message = "Enter [% terms.abug %] # or some search terms";

function checkQuicksearch( form ) {
  if (form.quicksearch.value == '' || form.quicksearch.value == quicksearch_message ) { 
    alert('Please enter one or more search terms first.');
    return false; 
  }
  return true;         
}

function quicksearchHelpText(el_id, action){
  var el = document.getElementById(el_id);
  if ( action == "show") {
    if( el.value == "" ) {
      el.value = quicksearch_message
      YAHOO.util.Dom.addClass(el, "quicksearch_help_text");
    }
  } else {
    if( el.value == quicksearch_message ) {
      el.value = "";
      YAHOO.util.Dom.removeClass(el, "quicksearch_help_text");
    }
  }
}
YAHOO.util.Event.onDOMReady(onLoadActions);
//-->
</script>

<div id="page-index">
  [% IF user.settings.skin.value=='Wikimedia' %]
  <div class="intro">[% Hook.process('intro') %]
  </div>
  [% END %]

  <h1 id="welcome"> Welcome to MediaWiki [% terms.Bugzilla %]</h1>
  <p style="text-align:center;">This is the bug tracker for <a
href="https://www.mediawiki.org/">MediaWiki</a> and its extensions
and site-specific problems on <a
href="https://www.wikimedia.org/">Wikimedia</a> wikis.</p>

  <p style="text-align:center;"><b>If you would like to file a bug report, please read
     <a href="http://www.mediawiki.org/wiki/How_to_report_a_bug"><i>How
to report a bug</i></a> for some pointers.</b></p>

        <div class="bz_common_actions">
          <ul>
            <li>
              <a id="enter_bug" href="enter_bug.cgi"><span>Report
              [%= terms.aBug %]
              [% IF !user.id %]
                    <i>(Account Needed)</i>
              [% END %]
              </span></a>
            </li>
            <li>
              <a id="query" href="query.cgi"><span>Search Bugs</span></a>
            </li>
            <li>
              <a id="help" href="http://www.mediawiki.org/wiki/Bugzilla"><span>Help on Bugzilla</span></a>
            </li>
            <li>
              <a id="report" href="report.cgi"><span>Reports / Charts</span></a>
            </li>
            <li>
              <a id="account"
                 [% IF user.id %]
                   href="userprefs.cgi"><span>User Preferences</span></a>
                 [% ELSIF Param('createemailregexp')
                          && user.authorizer.user_can_create_account 
                 %]
                   href="createaccount.cgi"><span>Open a New Account</span></a>
                 [% ELSE %]
                   href="?GoAheadAndLogIn=1"><span>Log In</span></a>
                 [% END %]
            </li>
          </ul>
        </div>

  <div style="clear:both;"></div>

    [%# List items of links to more things users can do on this installation. %]
    [% Hook.process('additional_links') %]

  <div id="quicksearch" style="padding-top: 15px; padding-bottom: 20px;">
        <form id="quicksearchForm" name="quicksearchForm" action="buglist.cgi" method="get"
              onsubmit="return checkQuicksearch(this);">
          <div>
            <input id="quicksearch_main" type="text" name="quicksearch"
              title="Quick Search" 
              onfocus="quicksearchHelpText(this.id, 'hide');"
              onblur="quicksearchHelpText(this.id, 'show');"
            >
            <input id="find" type="submit" value="Quick Search">
          </div>
        </form>
  </div>

  <div id="commonqueries" style="border: 1px grey solid; margin-top:15px; padding:5px">
    <h2 style="text-align:center;">Common queries for open reports</h2>
    <table border="0" text-align="left" valign="top">
    <tr>
    <td style="vertical-align: top; padding-right: 40px">
    <ul>
      [% IF user.id %]
        <li>
          [% title = BLOCK %]Assigned to me[% END %]
          <a href="buglist.cgi?f1=assigned_to&amp;o1=equals&amp;v1=%25user%25&amp;resolution=---">
            [% title FILTER html %]</a> ([% assignee_count FILTER html %])
          <a href="buglist.cgi?f1=assigned_to&amp;o1=equals&amp;v1=%25user%25&amp;resolution=---&amp;ctype=atom&amp;title=[% title FILTER uri %]"
             class="rss">&nbsp;</a>
          <a href="buglist.cgi?f1=assigned_to&amp;o1=equals&amp;v1=%25user%25&amp;bug_status=ASSIGNED">
            (with ASSIGNED status)</a>
        </li>
        <li>
          [% title = BLOCK %]Reported by me[% END %]
          <a href="buglist.cgi?f1=reporter&amp;o1=equals&amp;v1=%25user%25&amp;resolution=---">
            [% title FILTER html %]</a> ([% reporter_count FILTER html %])
          <a href="buglist.cgi?f1=reporter&amp;o1=equals&amp;v1=%25user%25&amp;resolution=---&amp;ctype=atom&amp;title=[% title FILTER uri %]"
             class="rss">&nbsp;</a>
        </li>
        [% IF Bugzilla.has_flags %]
          <li>
            [% title = BLOCK %]Requests addressed to me[% END %]
            <a href="request.cgi?action=queue&amp;requestee=[% user.login FILTER uri %]&amp;group=type&amp;do_union=0">
              [% title FILTER html %]</a> ([% requestee_count FILTER html %])
            <a href="buglist.cgi?f1=requestees.login_name&amp;o1=equals&amp;v1=%25user%25&amp;ctype=atom&amp;title=[% title FILTER uri %]"
               class="rss">&nbsp;</a>
          </li>
        [% END %]
      [% END %]

      <li>Actuality (also closed [% terms.bugs %]):
      <ul>
      <li>
        Reported in
        <a href="buglist.cgi?chfield=%5BBug%20creation%5D&amp;chfieldfrom=24h">last 24 hours</a>
        [% title = BLOCK %][% terms.Bugs %] reported in the last 24 hours[% END %]
        <a href="buglist.cgi?chfield=%5BBug%20creation%5D&amp;chfieldfrom=24h&amp;ctype=atom&amp;title=[% title FILTER uri %]"
           class="rss">&nbsp;</a>
        | <a href="buglist.cgi?chfield=%5BBug%20creation%5D&amp;chfieldfrom=7d">last 7 days</a>
        [% title = BLOCK %][% terms.Bugs %] reported in the last 7 days[% END %]
        <a href="buglist.cgi?chfield=%5BBug%20creation%5D&amp;chfieldfrom=7d&amp;ctype=atom&amp;title=[% title FILTER uri %]"
           class="rss">&nbsp;</a>
      </li>
      <li>
        Changed in
        <a href="buglist.cgi?chfieldfrom=24h">last 24 hours</a>
        [% title = BLOCK %][% terms.Bugs %] changed in the last 24 hours[% END %]
        <a href="buglist.cgi?chfieldfrom=24h&amp;ctype=atom&amp;title=[% title FILTER uri %]"
           class="rss">&nbsp;</a>
        | <a href="buglist.cgi?chfieldfrom=7d">last 7 days</a>
        [% title = BLOCK %][% terms.Bugs %] changed in the last 7 days[% END %]
        <a href="buglist.cgi?chfieldfrom=7d&amp;ctype=atom&amp;title=[% title FILTER uri %]"
           class="rss">&nbsp;</a>
      </li>
      </ul>
      </li>
      <li>Actionability:
      <ul>
      <li>
        <a href="buglist.cgi?bug_status=PATCH_TO_REVIEW">In PATCH_TO_REVIEW status</a>
        [% title = BLOCK %][% terms.Bugs %] in PATCH_TO_REVIEW status[% END %]
        <a href="buglist.cgi?bug_status=PATCH_TO_REVIEW&amp;ctype=atom&amp;title=[% title FILTER uri %]"
           class="rss">&nbsp;</a>
      </li>
      <li>
      Without changes for
      <a href="buglist.cgi?chfieldto=-6m&amp;resolution=---">6 months</a>
      | <a href="buglist.cgi?chfieldto=-2y&amp;resolution=---">2 years</a>
      </li>
      </ul>
      </li>
      </ul>
      </td>
      <td style="vertical-align: top;">
      <ul>
      <li>Product Planning:
      <ul>
      <li>
        <a href="report.cgi?x_axis_field=product&amp;y_axis_field=target_milestone&amp;product=Huggle&amp;product=MediaWiki&amp;product=MediaWiki+extensions&amp;product=VisualEditor&amp;product=Wikimedia&amp;resolution=---&amp;j_top=AND&amp;format=table&amp;action=wrap">Product &times; Target Milestone</a>
      </li>
      <li>
        <a href="report.cgi?x_axis_field=priority&y_axis_field=bug_severity&z_axis_field=product&resolution=---&format=table&action=wrap">Priority &times; Severity per product</a>
      </li>
      <li>
        <a href="describekeywords.cgi">Keywords</a>
      </li>
      </ul>
      </li>
      <li>Popularity:
      <ul>
      <li>
        &gt;=20 votes: <a href="buglist.cgi?votes_type=greaterthaneq&amp;votes=20&amp;resolution=---">All</a> |
          <a href="buglist.cgi?votes_type=greaterthaneq&amp;votes=20&amp;resolution=---&amp;product=MediaWiki">MediaWiki</a> |
          <a href="buglist.cgi?votes_type=greaterthaneq&amp;votes=20&amp;resolution=---&amp;product=MediaWiki%20extensions">MediaWiki ext.</a> |
          <a href="buglist.cgi?votes_type=greaterthaneq&amp;votes=20&amp;resolution=---&amp;product=Wikimedia">Wikimedia</a>
      </li>
      <li>
        <a href="duplicates.cgi">High number of duplicates</a>
      </li>
      </ul>
      </li>
    </ul>
   </td>
   </tr>
   </table>
  </div>
        <div class="outro">[% Hook.process('outro') %]</div>
</div>

[% PROCESS global/footer.html.tmpl %]
