[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Initial Developer of the Original Code is Everything Solved, Inc.
  # Portions created by Everything Solved are Copyright (C) 2010
  # Everything Solved. All Rights Reserved.
  #
  # The Original Code is the Bugzilla Sitemap Extension.
  #
  # Contributor(s):
  #   Max Kanat-Alexander <mkanat@bugzilla.org>
  #%]

[% IF message_tag == "sitemap_fixing_robots" %]
  Replacing [% current FILTER html %]. (The old version will be saved
  as "[% backup FILTER html %]". You can delete the old version if you
  do not need its contents.)

[% ELSIF message_tag == "sitemap_pinging" %]
  Pinging search engines to let them know about our sitemap:

[% ELSIF message_tag == "sitemap_requirelogin" %]
  Not updating search engines with your sitemap, because you have the
  "requirelogin" parameter turned on, and so search engines will not be
  able to access your sitemap.

[% ELSIF message_tag == "sitemap_no_urlbase" %]
  You have not yet set the "urlbase" parameter. We cannot update
  search engines and inform them about your sitemap without a 
  urlbase. Please set the "urlbase" parameter and re-run
  checksetup.pl.

[% ELSIF message_tag == "sitemap_ok" %]
  : OK

[% ELSIF message_tag == "sitemap_failed" %]
  : FAILED

[% ELSIF message_tag == "sitemap_some_failures" %]
  There were some failures while submitting the sitemap to certain
  search engines. If you wait a few minutes and run checksetup again,
  we will attempt to submit your sitemap again.

[% ELSIF message_tag == "sitemap_no_failures" %]
  Sitemap submission to search engines complete! Submission will
  NOT be done again by checksetup.pl unless you change your
  "urlbase", "sslbase", or "ssl_redirect" parameters. If you do change
  any of those parameters, you should re-run checksetup.pl, and it will
  re-submit your sitemap.

[% END %]
