.bz_alias_short_desc_container {
    margin: 8px 0; 
    padding: 0.3em 0.3em 0.3em 0.5em; 
    -moz-border-radius: 0.5em; 
    border-radius: 0.5em;
    font-size: 105%; 
    font-weight: bold;
    background:transparent url(images/block-base.png) repeat-x scroll center bottom;
    border: 1px solid silver;
    line-height: 1.75em;
}

.bz_bug .edit_form .text_input {
  width: 100%;
  min-width: 25em;
}

.bz_column_spacer {
    width: 2em;
}

.bz_show_bug_column {
  vertical-align: top;
  border-width: 1px;
}

td.bz_section_spacer {
    height: 0;
    padding: 0 !important;
}

.bz_comment_head, .bz_first_comment_head {
    border: 1px solid silver;
}

.bz_comment_text {
    font-size: 1em;
    font-family: monospace, "Courier New";
}

#votes_container {
    white-space: nowrap;
}
