[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]
[%# The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #%]
[%# INTERFACE:
  # This template has no interface.
  #
  # Form variables from a bug submission (i.e. the fields on a template from
  # enter_bug.cgi) can be access via Bugzilla.cgi.param. It can be used to
  # pull out various custom fields and format an initial Description entry
  # from them.
  #%]  
[% USE Bugzilla %]
[% cgi = Bugzilla.cgi %]

[%+ cgi.param("comment") IF cgi.param("comment") %]

[% IF cgi.param("intention") %]
Intention:
[%+ cgi.param("intention") %]
[% END %]

[% IF !(cgi.param("reproduce_steps").match('^1\.\s*2\.\s*3\.\s*$') || cgi.param("reproduce_steps").match('^\s*$')) %]
Steps to Reproduce:
[%+ cgi.param("reproduce_steps") %]
[% END %]

[% IF cgi.param("actual_results") %]
Actual Results:  
[%+ cgi.param("actual_results") %]
[% END %]

[% IF cgi.param("expected_results") %]
Expected Results:  
[%+ cgi.param("expected_results") %]
[% END %]

[% IF cgi.param("reproducible") != "Choose one..." %]
Reproducible: [%+ cgi.param("reproducible") %]
[% END %]

[%+ cgi.param("additional_info") %]
